#navbar_Container{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar_links, #navbar_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar_links > p {
   cursor: pointer;
   background-color: lightcoral;
   color: white;    
   padding: 4px 10px;
   border-radius: 3px;
   transition: all ease-in-out 0.4s;
}

#navbar_links > p:hover, #navbar_btns > span:hover{
    background-color: transparent;
    border: 1px solid black;
}

#navbar_btns > span{
     background-color: purple;
     color: white;
     padding: 4px 10px;
     border-radius: 4px;
   transition: all ease-in-out 0.4s;
cursor: pointer;
}

